<!doctype HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8" />
  <title>内殿团管理系统</title>
</head>
<body>
  <% if (policy.length) { %>
    <%= `我们有 ${policy.length} 个政策` %>
  <% } else { %>
    <%= '你还没有创建一个政策' %>
  <% } %>
</body>
</html>
