<!doctype HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8" />
  <title>创建政策</title>
  <link rel="stylesheet" href="/style/policy-editor.css" />
</head>
<body>
  <% include component/admin-bar %>
  <form class="policy-editor" action="/admin/create_policy" method="post" enctype="application/x-www-form-urlencoded">
    <input name="title" placeholder="标题" />
    <div class="text-frame">
      <pre class="height-fill"></pre>
      <textarea name="content" placeholder="正文"></textarea>
    </div>
    <select name="type">
      <option value="markdown">Markdown</option>
      <option value="text">纯文本</option>
    </select>
    <button type="submit">提交</button>
  </form>
  <script>
  /*
    textarea 自动变长
  */
  var HTMLFilter = document.createElement('div');
  var textAreaResize = function (textarea, fill) {
    fill.innerText = textarea.value;
    textarea.style.height = fill.offsetHeight + 'px';
  };

  var textareaAutoHeight = function (textarea, fill) {
    var tThis = this;
    var resize = function (e) {
      textAreaResize(textarea, fill);
    };

    [/*'keypress',*/ 'keydown', 'focus', 'click'].forEach(function (eventName) {
      textarea.addEventListener(eventName, function (e) {
        setTimeout(resize, 32);
        return true;
      }, true);
    });
    resize();
  };

  var policyEditor = document.querySelector('.policy-editor');
  policyEditor.onsubmit = function () {
    return confirm('你确定要提交这则草案吗？');
  };
  window.onload = function () {
    textareaAutoHeight(
      document.querySelector('.policy-editor [name="content"]'),
      document.querySelector('.policy-editor .height-fill')
    );
  };
  </script>
</body>
</html>
