<!doctype HTML>
<html>
<head>
  <meta http-equiv="content-type" charset="utf-8" />
  <title>torzo-logger admin</title>
  <script src="/script/md5/md5.min.js" type="application/javascript"></script>
  <link rel="stylesheet" href="/style/admin-login.css" />
</head>
<body>
  <main>
    <div class="info"><%= info %></div>
    <form class="login" action="/admin/login" method="post" enctype="application/x-www-form-urlencoded" >
      <label id="random" style="display: none"><%= randomString %></label>
      <input name="user" placeholder="君の名は"/>
      <input name="pass" type="password" placeholder="パス" />
      <button type="submit">Login</button>
    </form>
  </main>
  <script>
    var $$ = function (str) {
      return Array.prototype.slice.call(document.querySelectorAll(str));
    };
    var $ = document.querySelector.bind(document);
    var checkInput = function (inputEles) {
      var result = inputEles.every(function (inputEle) {
        return inputEle.value.length;
      });

      if (result) {
        $('[type="submit"]').classList.add('login-able');
      } else {
        $('[type="submit"]').classList.remove('login-able');
      }
      return result;
    };

    $$('form input').forEach(function (inputEle, cursor, inputEles) {
      inputEle.onblur = function () {
        if (this.value.length) {
          this.style.width = '100%';
        } else {
          this.style.width = '';
        }
      };
      inputEle.oninput = function () {
        checkInput(inputEles);
      };
    });

    $('.login').onsubmit = function () {
      if (!checkInput($$('form input'))) {
        alert('账号/密码 未填写');
        return true;
      } else {
        var randomString = $('#random').textContent;
        this.pass.value = (randomString + this.pass.value)
        this.pass.value = md5(this.pass.value);
      }
    };
  </script>
</body>
</html>
