main {
  width: 800px;
  font-size: 1em;
}
main .title {
  font-size: 3em;
  font-family: Courier, "Hiragino Sans GB", "WenQuanYi Microhei", 黑体;
  color: hsl(201, 47%, 35%);
}
main article, main pre, main pre code{
  font-size: 20px;
  font-family: Courier, "Hiragino Sans GB", "Microsoft JhengHei", "WenQuanYi Microhei", 黑体;
  color: hsl(201, 47%, 15%);
}

main pre code {
  width: 800px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
