.policy-editor {

}
.policy-editor * {
  resize: none;
  outline: none;
}
.policy-editor input, .policy-editor textarea {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
}

.policy-editor input {
  display: block;
  width: 640px;

  font-size: 2em;
}
.policy-editor .text-frame {
  position: relative;
}
.policy-editor .text-frame > * {
  width: 640px;
  min-height: 32px;
  font-size: 18px;
  font-family: Courier, "Hiragino Sans GB", "Microsoft JhengHei", "WenQuanYi Microhei", "黑体";
}
.policy-editor .height-fill {
  opacity: 0;
  display: block;

  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;

  padding: 20px 0;
}
.policy-editor textarea {
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  width: 640px;
  overflow: hidden;
}

.policy-editor .title-area {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: flex-start;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.policy-editor select {
  border: 0;
  border-right: 1px dashed #bbb;
  margin-right: 0.5em;
  font-size: 1em;
  font-family: Arial, "黑体";
  color: #555;
}

.policy-editor [name="title"] {
}
